@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic Setup */
body{
    font-family: "Hind Siliguri", sans-serif!important;
}
aside{
    border-right: 1px solid #dcdcdc;
}
.tab-color{
    background-color: #1D2939;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
/* Loader */
/* Add this CSS to your global stylesheet or the loader component's CSS file */
.loader {
    width: 100%;
    height: 4px; /* Adjust the height as needed */
    background-color: #f3f3f3;
    position: relative;
    overflow: hidden;
    margin-bottom: 16px; /* Add space between the loader and the header */
}

.loading-bar {
    width: 0;
    height: 100%;
    background-color: #09f;
    position: absolute;
    animation: load 2s infinite;
}

@keyframes load {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

